* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
}

.header-image {
  height: 460px;
  background-image: url("https://edwardwild10.github.io/assets/stars.jpg");
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.slice-div {
  height: 200px;
  opacity: 1;
  /* background-color: #f4f4f7; */
  position: absolute;
  top: auto;
  bottom: -100px;
  left: 0;
  right: 0;
  /* filter: blur(15px); */
  transform: skew(-7deg) rotate(-6.5deg);
  background-color: #0e0e0e;
}

.profile-info-wrapper {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 12px;
  flex-direction: column;
  margin-top: -225px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  display: flex;
  position: relative;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.13);
  color: #fff;
  background-color: #1a1a1a;
}

.profile-info-top-wrapper {
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  padding-bottom: 25px;
  display: flex;
  position: relative;
}

.profile-info-bottom-wrapper {
  max-width: 700px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.profile-image-wrapper {
  width: 200px;
  height: 200px;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.21);
  border-radius: 3px;
}

.profile-bio, .profile-name {
  overflow-wrap: break-word;
}

.section.link-section {
  flex: 1;
  padding-top: 45px;
  padding-bottom: 70px;
}

.section-container {
  z-index: 2;
  width: 90%;
  max-width: 1500px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.profile-link-wrapper {
  width: 100%;
  max-width: 1000px;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.divider-wrapper {
  width: 80%;
  text-align: center;
  margin: 20px auto 40px;
}

.divider-wrapper.divider-wrapper-title {
  margin-top: 15px;
  margin-bottom: 30px;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.divider-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.link-item-wrapper {
  width: 49%;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
  display: flex;
}

.link-arrow-wrapper {
  height: 100%;
  flex: none;
  align-items: center;
  padding-left: 10px;
  padding-right: 25px;
  display: flex;
  position: relative;
}

.link-item-wrapper.link-item-wrapper-full-width {
  width: 100%;
  display: flex;
}

.link-button:hover > .link-arrow-wrapper {
  -webkit-transform: translateX(5px) translateY(0) translateZ(0);
  transform: translateX(5px) translateY(0) translateZ(0);
}

.link-button:hover > .link-icon-float {
  -webkit-transform: translateX(0) translateY(-5px) translateZ(0);
  transform: translateX(0) translateY(-5px) translateZ(0);
}

.link-button.link-button-full-width {
  width: 99%;
}

.link-button > .link-arrow-wrapper,
.link-button > .link-icon-float {
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

.link-block-text-wrapper {
  position: relative;
  overflow: hidden;
}

.link-button > .link-arrow-wrapper,
.link-button > .link-icon-float {
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}

img {
  max-width: 100%;
  display: inline-block;
}

.link-arrows {
  height: 12px;
}

.link-icon-float-image {
  border-radius: 2px;
  position: relative;
}

.link-icon-float {
  width: 60px;
  height: 60px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: -10px;
  box-shadow: 0 9px 14px -4px rgba(82, 82, 82, 0.65);
}

.link-button {
  width: 98%;
  height: 80px;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
  box-shadow: 0 14px 30px -5px rgba(0, 0, 0, 0.13);
  color: #fff;
  background-color: #1a1a1a;
}

.link-url {
  color: #929292;
  font-size: 14px;
  font-weight: 300;
}

.link-name {
  margin-bottom: 2px;
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}

.floating-container:hover {
  height: 300px;
}

.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(54, 115, 252, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #3673FC;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(54, 115, 252, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 991px) {

    .profile-info-wrapper {
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0);
      margin-top: 0;
      padding-bottom: 0;
    }

    .link-url {
      width: 100%;

/* remove this bit if the url looks weird */
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }

    .link-block-text-wrapper {
      opacity: 1;
    }

    .profile-image-wrapper {
      width: 150px;
      height: 150px;
    }

    .divider-wrapper,
    .divider-wrapper.divider-wrapper-title {
      width: 90%;
    }

    .link-button.link-button-full-width {
      width: 98%;
    }

}

@media screen and (max-width: 767px) {

    .profile-info-bottom-wrapper {
      max-width: 512px;
    }

    .profile-image-wrapper {
      width: 120px;
      height: 120px;
    }

}

@media screen and (max-width: 479px) {

    .link-button.link-button-full-width {
        width: 90%;
    }

    .link-button {
      width: 90%;
      padding-left: 50px;
    }

    .link-arrow-wrapper {
      padding-right: 20px;
    }

    .link-arrows {
      opacity: 0.7;
    }

}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  src: url("https://edwardwild10.github.io/assets/fonts/Roboto-Mono-300.woff2") format("woff2"),
    url("https://edwardwild10.github.io/assets/fonts/Roboto-Mono-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("https://edwardwild10.github.io/assets/fonts/Roboto-Mono-400.woff2") format("woff2"),
    url("https://edwardwild10.github.io/assets/fonts/Roboto-Mono-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("https://edwardwild10.github.io/assets/fonts/Roboto-Mono-500.woff2") format("woff2"),
    url("https://edwardwild10.github.io/assets/fonts/Roboto-Mono-500.woff") format("woff");
}
